{% extends 'base.html' %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block content %}
    <div class="page-heading-shows-events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Our Shows & Events</h2>
                    <span>Check out upcoming and past shows & events.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="shows-events-tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <ul>
                                            <li><a href='#tabs-1' style="font-size: 22px;">Shop</a></li>
                                            <li><a href='#tabs-2' style="color:#cd1e1e; font-size: 22px;">On Sale</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <a href="{% url 'products-by-category' category1_items.0.0.slug %}">
                                                <h3 class="float-right category-name">
                                                    <span>Category:</span> {{ category1_items.0.0|title }}
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                </h3>
                                            </a>
                                        </div>
                                        {% include 'includes/categories_sidebar.html' %}

                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="event-item">
                                                        <div class="row">
                                                            {% for category, product_inventory, image, units, attr_values in category1_items %}
                                                                {% ifchanged product_inventory.product %}
                                                                    <div class="col-lg-4 product-link">
                                                                        <a href="{% url 'product-details' product_inventory.product.slug %}">
                                                                            <div class="left-content text-center"
                                                                                 style="height: 320px;">
                                                                                <div>
                                                                                    <h4 style="height: 50px;">{{ product_inventory|title }}</h4>
                                                                                    {% if units == 2 or units == 1 %}
                                                                                        <h6 class="low-units-info">
                                                                                            Low availability</h6>
                                                                                    {% elif units == 0 %}
                                                                                        <h6 class="no-units-info">
                                                                                            Temporarily unavailable</h6>
                                                                                    {% endif %}
                                                                                    <div class="product-description">
                                                                                        <p>{{ product_inventory.product.description }}</p>
                                                                                    </div>
                                                                                    {# =============== PRODUCT IMAGE =================#}
                                                                                    <img class="product-img"
                                                                                         src="{{ image.image.url }}"
                                                                                         alt="{{ image.alt_text }}">
                                                                                </div>
                                                                                {#                                                                        ==================== PRICE ==========================#}
                                                                                {% if product_inventory.is_on_sale %}
                                                                                    <h6 style="font-weight: bold; color: green; padding-top: 10px;"><span
                                                                                            style="color: grey; text-decoration: line-through; font-size: 16px; font-weight:normal; padding-top: 10px;">
                                                                                        {{ product_inventory.store_price }} </span>{{ product_inventory.sale_price }}
                                                                                        €</h6>
                                                                                {% else %}
                                                                                    <h6 style="padding-top: 10px;">{{ product_inventory.store_price }}
                                                                                        €</h6>
                                                                                {% endif %}
                                                                                {#   ======================== PRODUCT ATTRIBUTES ==================#}
                                                                                {% include 'includes/attribute_values_list.html' %}
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                {% endifchanged %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Header of the second category cat-items-->
                                        <div class="col-lg-3 three-products-main-page"
                                             style="pointer-events: none;"></div>
                                        <div class="col-lg-9 three-products-main-page">
                                            <a href="{% url 'products-by-category' category2_items.0.0.slug %}">
                                                <h3 class="float-right category-name">
                                                    <span>Category:</span> {{ category2_items.0.0|title }}
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                </h3>
                                            </a>
                                        </div>
                                        <!-- Second category items -->
                                        <div class="col-lg-3 three-products-main-page"
                                             style="pointer-events: none;"></div>
                                        <div class="col-lg-9 three-products-main-page">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="event-item">
                                                        <div class="row">
                                                            {% for category, product_inventory, image, units, attr_values in category2_items %}
                                                                {% ifchanged product_inventory.product %}
                                                                    <div class="col-lg-4 product-link">
                                                                        <a href="{% url 'product-details' product_inventory.product.slug %}">
                                                                            <div class="left-content text-center"
                                                                                 style="height: 320px;">
                                                                                <div>
                                                                                    <h4 style="height: 50px;">{{ product_inventory|title }}</h4>
                                                                                    {% if units == 2 or units == 1 %}
                                                                                        <h6 class="low-units-info">
                                                                                            Low availability</h6>
                                                                                    {% elif units == 0 %}
                                                                                        <h6 class="no-units-info">
                                                                                            Temporarily unavailable</h6>
                                                                                    {% endif %}
                                                                                    <div class="product-description">
                                                                                        <p>{{ product_inventory.product.description }}</p>
                                                                                    </div>
                                                                                    <img class="product-img"
                                                                                         src="{{ image.image.url }}"
                                                                                         alt="{{ image.alt_text }}">
                                                                                </div>
                                                                                {% if product_inventory.is_on_sale %}
                                                                                    <h6 style="font-weight: bold; color: green; padding-top: 10px;"><span
                                                                                            style="color: grey; text-decoration: line-through; font-size: 16px; font-weight:normal; padding-top: 10px;">
                                                                                        {{ product_inventory.store_price }} </span>{{ product_inventory.sale_price }}
                                                                                        €</h6>
                                                                                {% else %}
                                                                                    <h6 style="padding-top: 10px;">{{ product_inventory.store_price }}
                                                                                        €</h6>
                                                                                {% endif %}
                                                                                {% include 'includes/attribute_values_list.html' %}
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                {% endifchanged %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Header of the third category -->
                                        <div class="col-lg-3 three-products-main-page"
                                             style="pointer-events: none;"></div>
                                        <div class="col-lg-9 three-products-main-page">
                                            <a href="{% url 'products-by-category' category3_items.0.0.slug %}">
                                                <h3 class="float-right category-name">
                                                    <span>Category:</span> {{ category3_items.0.0|title }}
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                </h3>
                                            </a>
                                        </div>
                                        <!-- Third category items -->
                                        <div class="col-lg-3 three-products-main-page"
                                             style="pointer-events: none;"></div>
                                        <div class="col-lg-9 three-products-main-page">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="event-item">
                                                        <div class="row">
                                                            {% for category, product_inventory, image, units, attr_values in category3_items %}
                                                                {% ifchanged product_inventory.product %}
                                                                    <div class="col-lg-4 product-link">
                                                                        <a href="{% url 'product-details' product_inventory.product.slug %}">
                                                                            <div class="left-content text-center"
                                                                                 style="height: 320px;">
                                                                                <div>
                                                                                    <h4 style="height: 50px;">{{ product_inventory|title }}</h4>
                                                                                    {% if units == 2 or units == 1 %}
                                                                                        <h6 class="low-units-info">
                                                                                            Low availability</h6>
                                                                                    {% elif units == 0 %}
                                                                                        <h6 class="no-units-info">
                                                                                            Temporarily unavailable</h6>
                                                                                    {% endif %}
                                                                                    <div class="product-description">
                                                                                        <p>{{ product_inventory.product.description }}</p>
                                                                                    </div>
                                                                                    <img class="product-img"
                                                                                         src="{{ image.image.url }}"
                                                                                         alt="{{ image.alt_text }}">
                                                                                </div>
                                                                                {% if product_inventory.is_on_sale %}
                                                                                    <h6 style="font-weight: bold; color: green; padding-top: 10px;"><span
                                                                                            style="color: grey; text-decoration: line-through; font-size: 16px; font-weight:normal; padding-top: 10px;">
                                                                                        {{ product_inventory.store_price }} </span>{{ product_inventory.sale_price }}
                                                                                        €</h6>
                                                                                {% else %}
                                                                                    <h6 style="padding-top: 10px;">{{ product_inventory.store_price }}
                                                                                        €</h6>
                                                                                {% endif %}
                                                                                {% include 'includes/attribute_values_list.html' %}
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                {% endifchanged %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                                {#    =============== PAGE 2 ===============        #}
                                <article id='tabs-2'>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="heading float-left"><h2>Categories</h2></div>
                                        </div>
                                        {% include 'includes/categories_sidebar.html' %}
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="event-item">
                                                        <div class="row">
                                                            {% for product_inventory, image, units, attr_values in on_sale %}
                                                                <div class="col-lg-4 product-link">
                                                                    <a href="{% url 'product-details' product_inventory.product.slug %}">
                                                                        <div class="left-content text-center"
                                                                             style="height: 320px;">
                                                                            <div>
                                                                                <h4 style="height: 50px;">{{ product_inventory|title }}</h4>
                                                                                {% if units == 2 or units == 1 %}
                                                                                    <h6 class="low-units-info">
                                                                                        Low availability</h6>
                                                                                {% elif units == 0 %}
                                                                                    <h6 class="no-units-info">
                                                                                        Temporarily unavailable</h6>
                                                                                {% endif %}
                                                                                <div class="product-description">
                                                                                    <p>{{ product_inventory.product.description }}</p>
                                                                                </div>
                                                                                <img class="product-img"
                                                                                     src="{{ image.image.url }}"
                                                                                     alt="{{ image.alt_text }}">
                                                                            </div>
                                                                            {% if product_inventory.is_on_sale %}
                                                                                <h6 style="font-weight: bold; color: green; padding-top: 10px;"><span
                                                                                        style="color: grey; text-decoration: line-through; font-size: 16px; font-weight:normal; padding-top: 10px;">
                                                                                        {{ product_inventory.store_price }} </span>{{ product_inventory.sale_price }}
                                                                                    €</h6>
                                                                            {% else %}
                                                                                <h6 style="padding-top: 10px;">{{ product_inventory.store_price }}
                                                                                    €</h6>
                                                                            {% endif %}
                                                                            {% include 'includes/attribute_values_list.html' %}
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                {#     ================ END OF PAGE 2 ===================#}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
