{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div class="page-heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>{{ product }}</h3><br>
                    <h4 id="price">{{ products_data.0.0.store_price }} €</h4>
                </div>

            </div>
        </div>
    </div>
    <div class="about-item">
        <div class="container">
            <div class="row">
                {% for image in images %}
                    <div class="img-row">
                        <div class="img-column">
                            <img class="product-image" src="{{ image.image.url }}" alt="{{ image.alt_text }}"
                                 onclick="photoGallery(this);" id="id_image_{{ forloop.counter }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <!-- The expanding image container -->
                    <div class="img-container">
                        <!-- Close the image -->
                        <span style="color: black;" onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                        <!-- Expanded image -->
                        <img id="expandedImg" style="width:100%">
                        <div id="imgtext"></div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <form action="{% url 'add-to-cart' %}" method="GET" id="add-to-cart-form">
                        {% if is_to_choose %}
                            <ul class="choose-attr-value">
                                <li class="font-weight-bold">CHOOSE</li>
                                {% for product_inventory, attr_value, units in products_data %}
                                    {% for key, value in attr_value.items %}
                                        {% if key == 'size' or key == 'language' %}
                                            <li>
                                                <input type="radio" id="id_{{ value }}"
                                                       onchange="setPrice(this,
                                                               {% if product_inventory.is_on_sale %}true{% else %}false{% endif %});"
                                                       data-sku="{{ product_inventory.sku }}"
                                                       {% if units == 0 %}disabled{% endif %}
                                                       data-price="
                                                               {% if product_inventory.is_on_sale %}{{ product_inventory.sale_price }}{% else %}{{ product_inventory.store_price }}{% endif %}"
                                                       name="attr"/>

                                                <label for="id_{{ value }}"
                                                       {% if units == 0 %}disabled{% endif %}>{{ value|upper }}
                                                    {% if product_inventory.is_on_sale %}
                                                        <span class="on-sale-flag">SALE</span>
                                                    {% endif %}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                            <input type="hidden" id="sku-input" name="sku">
                            <button onclick="checkAddToCartAndSetSkuValue(true);" type="submit"
                                    class="add-to-cart" id="submit-choice-btn" disabled>
                                Add To Cart
                            </button>
                        {% else %}
                            <input type="hidden" id="sku-input" name="sku" value="{{ products_data.0.0.sku }}">
                            <button onclick="checkAddToCartAndSetSkuValue(false);" type="submit"
                                    class="add-to-cart">
                                Add To Cart
                            </button>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="about-upcoming-shows">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About The Product</h2>
                    <p>
                        {{ product.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="also-like">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-5 mb-2">
                    <h2>You Might Also Like...</h2>
                </div>
                {#============== 3 RANDOM PRODUCTS ==============#}
                {% for product, image, units, attribute_values in three_products %}
                    <div class="col-lg-4">
                        <a href="{% url 'product-details' product.slug %}">
                            <div class="like-item">
                                <div class="thumb">
                                    {% if units == 2 or units == 1 %}
                                        <h6 class="low-units-info">
                                            Low availability</h6>
                                    {% elif units == 0 %}
                                        <h6 class="no-units-info">
                                            Temporarily unavailable</h6>
                                    {% endif %}
                                    <img style="height: 420px;" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
                                </div>
                                <div class="down-content">
                                <span class=".might-also-like-description">
                                    {{ product.description }}
                                </span>
                                    <h4>{{ product }}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    {{ images.0.image.url|json_script:"first-img" }}

    <script>
        // loads first image of all images as expanded
        window.onload = function () {
            let firstImg = document.getElementById('id_image_1');
            photoGallery(firstImg);
        }

        function photoGallery(imgs) {
            // Get the expanded image
            let expandImg = document.getElementById("expandedImg");
            // Get the image text
            let imgText = document.getElementById("imgtext");
            // Use the same src in the expanded image as the image being clicked on from the grid
            expandImg.src = imgs.src;
            // Use the value of the alt attribute of the clickable image as text inside the expanded image
            imgText.innerHTML = imgs.alt;
            // Show the container element (hidden with CSS)
            expandImg.parentElement.style.display = "block";
        }

        function setPrice(input, isOnSale) {
            if (input.checked === true) {
                enableButton(); // this means that radio was checked and now
                                // submit button will be enabled
                let price = input.dataset.price;
                let priceDisplay = document.getElementById('price');
                priceDisplay.textContent = price + '€';
                if (isOnSale === true) {
                    priceDisplay.style.color = 'green';
                } else {
                    priceDisplay.style.color = '';
                }
            }
        }

        /**
         * function that on clicking the submit button:
         * 1. Checks is the radio input checked (if it exists)
         * 2. Gets sku of chosen product inventory and sets value
         *    of input to it (if there is a choice to be made).
         */
        function checkAddToCartAndSetSkuValue(isChoice) {
            let inputs = document.getElementsByTagName('input');
            if (isChoice) {
                let skuInput = document.getElementById('sku-input');
                for (let i = 0; i < inputs.length; ++i) {
                    if (inputs[i].checked === true) {
                        let x = document.getElementById(inputs[i].id);
                        skuInput.value = x.dataset.sku;
                    }
                }
            }
        }

        function enableButton() {
            document.getElementById('submit-choice-btn').disabled = false;
        }

    </script>
{% endblock %}