{% load static %}
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" style="{% if request.user.is_staff %}height: 200%;{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'home' %}" class="logo-home"><img class="logo-home" src="{% static 'images/logo.png' %}" alt=""></a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'home' %}" class="{% if '/' == request.path %}active{% endif %}">Home</a>
                        </li>
                        <li><a href="{% url 'about-us' %}"
                               class="{% if '/about-us/' == request.path %}active{% endif %}">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="{% url 'shop' %}"
                               class="{% if '/shop/' in request.path %}active{% endif %}">Shop</a></li>
                        <li><a href="{% url 'forum' %}" class="{% if '/forum/' in request.path %}active{% endif %}">Forum</a>
                        </li>
                        <li><a href="{% url 'user-messages' %}"
                               class="{% if '/chat/' in request.path %}active{% endif %}"><i
                                class="fa fa-envelope" aria-hidden="true"></i> Your messages</a></li>
                    </ul>

                    <ul class="nav">
                        {% if request.user.is_staff %}

                            <li><a href="{% url 'newsletter' %}"
                                   class="{% if '/newsletter/' == request.path %}active{% endif %}">Newsletter</a>
                            </li>
                            <li><a href="{% url 'messages-from-users' %}"
                                   class="{% if '/messages-from-users/' == request.path %}active{% endif %}">Messages
                                from users</a></li>
                        {% endif %}
                        {% if '/shop/' in request.path %}
                            <li></li>
                            <li></li>
                            <li>
                                <a class="{% if '/order-history/' in request.path or '/detail-order-history/' in request.path %}active{% endif %}"
                                   href="{% url 'order-history' %}">
                                    My Orders</a>
                            </li>
                            <li>
                                <a class="shopping-cart" href="{% url 'cart' %}">
                                    <div><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <div class="cart-qty"><p>{{ cart_quantity }}</p></div>
                                    </div>
                                </a>
                            </li>
                        {% endif %}

                    </ul>

                    <div class="log-reg-div">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_staff %}
                                <a class="log-reg" style="color: #aa0c0c;"
                                   href="{% url 'logout' %}">Logout </a>
                                <span>|</span>
                                <a class="log-reg" href="{% url 'my-account' %}"> Admin
                                    page</a>
                            {% else %}
                                <a class="log-reg" style="color: #aa0c0c;" href="{% url 'logout' %}">Logout </a>
                                <span>|</span>
                                <a class="log-reg" href="{% url 'my-account' %}"> My Account</a>
                            {% endif %}
                        {% else %}
                            <a class="log-reg" href="{% url 'login' %}">Login </a><span>|</span>
                            <a class="log-reg" href="{% url 'register-user' %}">Register</a>
                        {% endif %}
                    </div>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->