{% extends 'base.html' %}
{% load static %}

{% block title %}
    Chat room
{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat-room.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock %}

{% block content %}
    <h3 class="chat-title">Chat with <span class="font-weight-bold">{{ other_user_name }}</span></h3>
    <div class="main-msg-container">
        <div id="chat-messages">
            {% for msg in previous_messages %}
                {% if request.user == msg.user %}
                    <div class="bubbleWrapper">
                        <div class="inlineContainer own">
                            <div class="ownBubble own wrap-text">
                                {{ msg.content }}
                            </div>
                        </div>
                        <span class="own">
                            {% ifchanged msg.date_added|date:"H:i, d.m.y" %}
                                {{ msg.date_added|date:"H:i, d.m.y" }}
                            {% endifchanged %}
                        </span>

                    </div>
                {% else %}
                    <div class="bubbleWrapper">
                        <p class="msg-author">{{ msg.user.username }}</p>
                        <div class="inlineContainer">
                            <div class="otherBubble other wrap-text">
                                {{ msg.content }}
                            </div>
                        </div>
                        <span class="own left-date">
                            {% ifchanged msg.date_added|date:"H:i, d.m.y" %}
                                {{ msg.date_added|date:"H:i, d.m.y" }}
                            {% endifchanged %}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="float-right msg-input">
            <form class="flex">
                <textarea name="content" cols="70" rows="3" wrap="hard" class="flex-1 mr-3 form-control"
                          placeholder="Your message..." id="chat-message-input"></textarea>
                <button type="button" id="chat-message-submit" class="float-right">
                    Send
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"username" }}
    {{ other_user_name|json_script:"other-username" }}

    <script>
        const username = JSON.parse(document.getElementById('username').textContent);
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const otherUsername = JSON.parse(document.getElementById('other-username').textContent);

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message === '') {
                alert('Message can not be left blank');
            } else {
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': username,
                    'room_name': roomName
                }));
                messageInputDom.value = '';
            }
        };

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            const date = new Date();
            let minutes = date.getMinutes();
            let hour = date.getHours();
            if (minutes < 10) {
                minutes = '0' + minutes
            }
            if (hour === 0) {
                hour = '0' + hour
            }
            const formattedNow = hour + ':' + minutes;

            const data = JSON.parse(e.data);
            let msg = ''
            if (otherUsername === data.username) {
                msg = '<div class="bubbleWrapper">' +
                    '<p class="msg-author">' + data.username + '</p>' +
                    '<div class="inlineContainer">' +
                    '<div class="otherBubble other wrap-text">' +
                    data.message +
                    '</div></div><span class="other">' + formattedNow + '</span></div>'
            } else {
                msg = '<div class="bubbleWrapper">' +
                    '<div class="inlineContainer own">' +
                    '<div class="ownBubble own wrap-text">' +
                    data.message +
                    '</div></div><span class="own">' + formattedNow + '</span></div>'
            }

            document.querySelector('#chat-messages').innerHTML += (msg);
        };

        (function ($) {
            $(window).load(function () {
                $('html, body').animate({
                    scrollTop: $('#chat-message-input').offset().top - $(window).height() * 0.7
                }, 1000);
            });
        })(jQuery);

    </script>

{% endblock %}
