{% extends 'base.html' %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block content %}
    <div class="page-heading-shows-events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Our Shows & Events</h2>
                    <span>Check out upcoming and past shows & events.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="shows-events-tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <ul>
                                            <li><a href='#tabs-1' style="font-size: 22px;">Shop</a></li>
                                            <li><a href='#tabs-2' style="color:#cd1e1e; font-size: 22px;">Sale</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="heading float-left"><h2>Categories</h2></div>
                                            <a href="{% url 'products-by-category' category1_items.0.0.slug %}">
                                                <h3 class="float-right category-name"
                                                    style="padding: 12px 20px; border: solid 2px #2a8c58; border-radius: 4px;margin-bottom: 35px; margin-right: 70px;"><span
                                                        style="font-weight: normal; font-size: 20px;">Category:</span> {{ category1_items.0.0 }}
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                </h3>
                                            </a>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="sidebar">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="month">
                                                            <ul>
                                                                {% for cat_parent, cat_children in all_categories.items %}
                                                                    <li>
                                                                        <a href="{% url 'products-by-category' cat_parent.slug %}"
                                                                           style="font-weight: bold !important; font-size: 20px !important;">
                                                                            {{ cat_parent }}</a>
                                                                    </li>
                                                                    {% for child in cat_children %}
                                                                        <li>
                                                                            <a href="{% url 'products-by-category' child.slug %}"
                                                                               style="font-size: 16px !important; text-indent: 20px !important; ">
                                                                                > {{ child }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                    <br>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="event-item">
                                                        <div class="row">
                                                            {% for category, product_inventory, image, units in category1_items %}
                                                                <div class="col-lg-4 product-link">
                                                                    <a href="{% url 'product-details' product_inventory.product.slug %}">
                                                                        <div class="left-content text-center"
                                                                             style="height: 320px;">
                                                                            <div>
                                                                                <h4 style="height: 50px;">{{ product_inventory }}</h4>
                                                                                <div class="product-description">
                                                                                    <p>{{ product_inventory.product.description }}</p>
                                                                                </div>
                                                                            </div>
                                                                            {% if product_inventory.is_on_sale %}
                                                                                    <h6 style="font-weight: bold; color: green; padding-top: 10px;">{{ product_inventory.sale_price }}
                                                                                        €</h6>
                                                                                    <h6 style="text-decoration: line-through; color: red; padding-top: 10px;">{{ product_inventory.store_price }}
                                                                                        €</h6>
                                                                            {% else %}
                                                                                <h6 style="padding-top: 10px;">{{ product_inventory.store_price }}
                                                                                        €</h6>
                                                                            {% endif %}
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Header of the second category -->
                                        <div class="col-lg-12">
                                            {#                                             style="position: relative; bottom: 380px; margin-top: 50px;"#}
                                            <a href="{% url 'products-by-category' category2_items.0.0.slug %}">
                                                <h3 class="float-right category-name"
                                                    style="padding: 12px 20px; border: solid 2px #2a8c58;
                                                    border-radius: 4px;margin-bottom: 35px; margin-right: 70px;"><span
                                                        style="font-weight: normal; font-size: 20px;">Category:</span> {{ category2_items.0.0 }}
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                </h3>
                                            </a>
                                        </div>
                                        <!-- Second category items -->
                                        <div class="col-lg-3">
                                        </div>
                                        <div class="col-lg-9 float-right">

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="event-item">
                                                        <div class="row">
                                                            {% for category, product_inventory, image, units in category2_items %}
                                                                <div class="col-lg-4 product-link">
                                                                    <a href="{% url 'product-details' product_inventory.product.slug %}">
                                                                        <div class="left-content text-center"
                                                                             style="height: 320px;">
                                                                            <div>
                                                                                <h4 style="height: 50px;">{{ product_inventory }}</h4>
                                                                                <div class="product-description">
                                                                                    <p>{{ product_inventory.product.description }}</p>
                                                                                </div>
                                                                            </div>
                                                                            <h6 style="padding-top: 10px;">{{ product_inventory.store_price }}
                                                                                €</h6>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Header of the third category -->
                                    <div class="col-lg-12">
                                        <a href="{% url 'products-by-category' category3_items.0.0.slug %}">
                                            <h3 class="float-right category-name"
                                                style="padding: 12px 20px; border: solid 2px #2a8c58; margin-top: 35px;
                                                    border-radius: 4px;margin-bottom: 35px; margin-right: 70px;"><span
                                                    style="font-weight: normal; font-size: 20px;">Category:</span> {{ category2_items.0.0 }}
                                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                            </h3>
                                        </a>
                                    </div>
                                    <!-- Third category items -->
                                    <div class="col-lg-3">
                                    </div>
                                    <div class="col-lg-9 float-right" style="margin-bottom: 130px;">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="event-item">
                                                    <div class="row">
                                                        {% for category, product_inventory, image, units in category3_items %}

                                                            <div class="col-lg-4 product-link">
                                                                <a href="{% url 'product-details' product_inventory.product.slug %}">
                                                                    <div class="left-content text-center"
                                                                         style="height: 320px;">
                                                                        <div>
                                                                            <h4 style="height: 50px;">{{ product_inventory }}</h4>
                                                                            <div class="product-description">
                                                                                <p>{{ product_inventory.product.description }}</p>
                                                                            </div>
                                                                        </div>
                                                                        <h6 style="padding-top: 10px;">{{ product_inventory.store_price }}
                                                                            €</h6>
                                                                    </div>
                                                                </a>
                                                            </div>

                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                                {#    =============== PAGE 2 ===============        #}
                                <article id='tabs-2'>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="heading float-left"><h2>Categories</h2></div>

                                        </div>
                                        <div class="col-lg-3">
                                            <div class="sidebar">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="month">
                                                            <ul>
                                                                {% for cat_parent, cat_children in all_categories.items %}
                                                                    <li>
                                                                        <a href="{% url 'products-by-category' cat_parent.slug %}"
                                                                           style="font-weight: bold !important; font-size: 20px !important;">
                                                                            {{ cat_parent }}</a>
                                                                    </li>
                                                                    {% for child in cat_children %}
                                                                        <li>
                                                                            <a href="{% url 'products-by-category' child.slug %}"
                                                                               style="font-size: 16px !important; text-indent: 20px !important; ">
                                                                                > {{ child }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                    <br>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="event-item">
                                                        <div class="row">
                                                            {% for category, product_inventory, image, units in on_sale %}
                                                                <div class="col-lg-4 product-link">
                                                                    <a href="{% url 'product-details' product_inventory.product.slug %}">
                                                                        <div class="left-content text-center"
                                                                             style="height: 320px;">
                                                                            <div>
                                                                                <h4 style="height: 50px;">{{ product_inventory }}</h4>
                                                                                <div class="product-description">
                                                                                    <p>{{ product_inventory.product.description }}</p>
                                                                                </div>
                                                                            </div>
                                                                            {% if product_inventory.is_on_sale %}
                                                                                    <h6 style="font-weight: bold; color: green; padding-top: 10px;">{{ product_inventory.sale_price }}
                                                                                        €</h6>
                                                                                    <h6 style="text-decoration: line-through; color: red; padding-top: 10px;">{{ product_inventory.store_price }}
                                                                                        €</h6>
                                                                            {% else %}
                                                                                <h6 style="padding-top: 10px;">{{ product_inventory.store_price }}
                                                                                        €</h6>
                                                                            {% endif %}

                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                {#     ================ END OF PAGE 2 ===================#}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
