@keyframes show-toast {
    0% {
        bottom: -100%
    }
    20% {
        bottom: 100px
    }
    80% {
        bottom: 100px
    }
    100% {
        bottom: -100%
    }
}

.show-notification {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 8s;
    z-index: 99;
}

.log-reg-div {
    margin-top: 10px;
    font-size: 16px;
    position: relative;
    bottom: 55px;
    left: 290px;
}

.log-reg {
    color: rgba(0, 0, 0, 0.64);
}

.log-reg:hover {
    color: rgba(0, 0, 0);
    font-weight: bold;
}

.logo-home {
    margin-top: 12px;
}

#forgot-pass {
    position: relative;
    left: 500px;
}

#id_cover_photo, #id_profile_picture {
    height: 48px;
}

.profile-info img {
    position: relative;
    left: 50px;
    top: 70px;
    border-radius: 5%;
    width: 140px;
    height: 140px;
}

#id_content {
    height: 700px;
    line-height: 1.8;
    padding: 14px 22px;
}

.text-about p {
    padding: 20px;
    font-size: 14px;
}

.text-about i {
    font-size: 16px;
    margin-right: 12px;
}

#id_message {
    height: 300px;
    line-height: 1.8;
    padding: 14px 22px;
}

.msg-table {
    margin: 80px 0;
}
.msg-table h3 {
    text-align: center;
}

.pagination {
    border: solid 1px rgba(12, 84, 96, 0.55);
    padding: 5px;
}

.step-links a {
    padding: 5px;
}

.msg-links a {
    display: block;
    color: #373737;
}

.chat-with-us {
    position: relative;
    left: 600px;
}
