@keyframes show-toast {
    0% {
        bottom: -100%
    }
    20% {
        bottom: 100px
    }
    80% {
        bottom: 100px
    }
    100% {
        bottom: -100%
    }
}

.show-notification {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 8s;
    z-index: 99;
}

.log-reg-div {
    margin-top: 10px;
    font-size: 16px;
    position: relative;
    bottom: 55px;
    left: 290px;
}

.log-reg {
    color: rgba(0, 0, 0, 0.64);
}

.log-reg:hover {
    color: rgba(0, 0, 0);
    font-weight: bold;
}

.logo-home {
    margin-top: 12px;
}

#forgot-pass {
    position: relative;
    left: 500px;
}

#id_cover_photo, #id_profile_picture {
    height: 48px;
}

.profile-info img {
    position: relative;
    left: 50px;
    top: 70px;
    border-radius: 5%;
    width: 140px;
    height: 140px;
}

#id_content {
    height: 700px;
    line-height: 1.8;
    padding: 14px 22px;
}

.text-about p {
    padding: 20px;
    font-size: 14px;
}

.text-about i {
    font-size: 16px;
    margin-right: 12px;
}

#id_message {
    height: 300px;
    line-height: 1.8;
    padding: 14px 22px;
}

.msg-table {
    margin: 80px 0;
}

.msg-table h3 {
    text-align: center;
}

.pagination {
    border: solid 1px rgba(12, 84, 96, 0.55);
    padding: 5px;
}

.step-links a {
    padding: 5px;
}

.msg-links a {
    display: block;
    color: #373737;
}

.chat-with-us {
    position: relative;
    left: 600px;
}

.mail-icon {
    width: 50px;
    height: 40px;
}

.msg-author {
    color: #5756e6;
    font-weight: bold;
}

.category-name {
    color: black;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    margin-bottom: 15px;
}

.category-name span {
    font-weight: normal;
    font-size: 18px;
}

.category-name:hover {
    color: rgb(96, 90, 90);
    box-shadow: none;
}

.product-description p, .might-also-like-description {
    width: 200px;
    height: 40px;
    position: absolute;
    top: 70px;
    line-height: 20px;
    word-break: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.product-link {
    margin-bottom: 15px;
    background-color: white;
    border: solid 1px rgba(92, 90, 90, 0.15);
    border-radius: 2px;
    width: 700px;
    height: 320px;
    transition: background-color 450ms ease-out 10ms;
    -webkit-transition: transform 200ms ease-in-out;
}

.product-link a {
    color: black;
}

.product-link:hover {
    background-color: rgb(244, 243, 243);
    transform: scale(1.07, 1.07);
    border: solid 2px #8c8c8c;
    z-index: 3;
}

.attrs-values-list {
    width: 140% !important;
    position: relative;
    right: 40px;
}

.color-box {
    margin: auto;
    height: 16px;
    width: 16px;
}

.no-units-info, .low-units-info {
    position: absolute;
    top: 5px;
    padding: 2px;
    border-radius: 2px;
}

.low-units-info {
    left: 60px;
    right: 60px;
    color: white;
    background-color: rgba(230, 150, 24, 0.83);
    border: solid 1px #f29907;
    text-align: center;
}

.no-units-info {
    left: 20px;
    right: 20px;
    color: white;
    background-color: #dc3e3e;
    border: solid 1px #dd1515;
    text-align: center;
}

.flags-icon {
    width: 20px;
    height: 15px;
}

.apply-filters-button {
    border-radius: 2px;
    margin-bottom: 16px;
    background-color: #2d6f68;
    border: solid 1px rgba(181, 179, 179, 0.84);
    color: white;
    font-size: 18px;
}

.apply-filters-button:hover {
    background-color: rgba(45, 111, 104, 0.67);
}

.reset-filters-button {
    border-radius: 2px;
    margin-left: 5px;
    margin-bottom: 16px;
    background-color: #de405b;
    border: solid 1px rgba(187, 32, 32, 0.84);
    color: white;
    font-size: 16px;
}

.reset-filters-button:hover {
    background-color: rgba(222, 64, 91, 0.66);
    border: solid 1px rgba(187, 32, 32, 0.34);
}

input[type="checkbox"], input[type="radio"]:not(.payment-method input[type="radio"]) {
    accent-color: black;
    -ms-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    padding: 10px;
    margin-right: 5px;
}

.checkbox-filter-label {
    font-size: 20px;
    display: inline;
}

.product-img {
    width: 80px;
    height: 95px;
    margin-top: 35px;
    padding: 6px 4px;
    border: solid 1px #1d1d1d;
    background-color: white;
    -webkit-transition: transform 250ms ease-out 25ms;
}

.product-img:hover {
    border: solid 1px grey;
    transform: scale(2.03);
}

.product-image {
    width: 140px;
    height: 160px;
}

.img-column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.img-column img {
    opacity: 0.8;
    cursor: pointer;
}

.img-column img:hover {
    opacity: 1;
    border: solid 2px #382f2f;
    border-radius: 5px;
}

/* Clear floats after the columns */
.img-row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.img-container {
    position: relative;
    display: none;
    width: 700px;
    height: 780px;
    margin-bottom: 120px;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* choosing attribute value (size for example) */
.choose-attr-value {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
}

.choose-attr-value li {
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.choose-attr-value label,
.donate-now input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.choose-attr-value input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.choose-attr-value input[type="radio"]:checked + label,
.Checked + label {
    background: #16918f;
}

.choose-attr-value label {
    text-align: center;
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}

.choose-attr-value label:hover {
    background: #DDD;
}

.on-sale-flag {
    position: absolute;
    right: -5px;
    top: -6px;
    font-size: 13px;
    color: white;
    background-color: green;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 2px;
}

.search-box {
    margin-bottom: 30px;
}

.search-box input {
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    width: 100%;
}

.search-box input:active, .search-box input:focus {
    border-bottom: 2px solid #3d3c3c;
    width: 103%;
}

.search-box button {
    outline: none;
    padding: 5px 8px;
    float: right;
    margin-top: 3px;
    background-color: rgb(30, 147, 117);
    border-radius: 3px;
    border: solid 1px grey;
    color: white;
}

.search-box button:hover {
    background-color: rgba(30, 147, 117, 0.58);
}

#show-hide-filters-btn {
    outline: none;
    border: solid 1px #b2b0b0;
    background-color: #c7c3c3;
    padding: 5px;
    border-radius: 3px;
}

.cart-qty {
    color: white;
    width: 26px;
    height: 26px;
    border: solid 1px #cb1c1c;
    border-radius: 100%;
    background-color: #e73131;
    text-align: center;
    position: relative;
    bottom: 24px;
    left: 23px;
}

.cart-qty p {
    font-size: 19px;
    font-weight: bold;
    color: white;
}

.shopping-cart i {
    position: relative;
    font-size: 35px;
    top: 4px;
}

.cart-container {
    max-width: 1000px;
    margin: 100px auto 240px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.cart-container h5 {
    margin-bottom: 20px;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.cart-table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
}

.col-1 {
    width: 200px;
}

.col-2 {
    width: 400px;
    margin-left: 130px;
}

.col-3 {
    width: 150px;
    margin-left: 140px;
    margin-top: 20px;
}

.col-4 {
    width: 250px;
    margin-left: -50px;
    margin-top: 20px;
}

.col {
    padding: 10px 0;
    text-align: center;
}

.col:before {
    color: #6C7A89;
    padding-right: 10px;
    flex-basis: 50%;
}

.order-row:hover {
    background-color: #ecebeb;
}

.add-to-cart {
    height: 50px;
    width: 120px;
    position: relative;
    top: 30px;
    background-color: rgba(17, 96, 74, 0.67);
    border: solid 1px rgba(32, 117, 90, 0.67);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    transition: background-color 300ms ease-out 10ms;
}

.add-to-cart:hover {
    background-color: rgba(15, 140, 107, 0.31);
    color: rgba(55, 185, 155, 0.67);
}

.remove-item, .add-item {
    text-align: center;
    font-size: 17px;
    color: white;
    background-color: rgba(60, 197, 168, 0.71);
    border: solid 1px rgba(60, 197, 168, 0.76);
    height: 26px;
    width: 26px;
    border-radius: 50%;
    display: inline-block;
}

.remove-item:hover {
    background-color: rgba(60, 197, 168, 0.35);
    color: #be3939;
}

.add-item:hover {
    background-color: rgba(60, 197, 168, 0.35);
    color: #4ece4e;
}

.click-to-shop {
    margin-top: 25px;
    margin-bottom: 200px;
}

.cart-img {
    margin-top: -20px;
    margin-bottom: -20px;
    width: 85px;
    height: 100px;
    border: solid 1px #817f7f;
}

.cart-img:hover {
    border: solid 1px #4b4b4b;
}

.product-link-cart {
    color: black;
}

.product-link-cart small {
    font-size: 12px;
}

.cart-summary {
    width: 450px;
    float: right;
    background-color: #9dbcbd;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 80px;
}

.sum-col-1 {
    margin-right: 50px;
}

.delete-item {
    font-size: 20px;
    text-align: center;
    color: white;
    width: 27px;
    height: 27px;
    position: relative;
    top: 25px;
}

.delete-item i {
    padding: 4px;
    background-color: #e03c3c;
    color: white;
    border-radius: 5px;
}

.delete-item i:hover {
    background-color: rgba(224, 60, 60, 0.56);
    color: #830b0b;
}

.delete-cart {
    color: #f15c5c;
    font-size: 14px;
}

.delete-cart:hover {
    color: #e30101;
}

.to-checkout i {
    font-size: 60px;
    -webkit-transition: transform 200ms ease-in-out;
}

.to-checkout-1-step {
    position: relative;
    left: 100px;
}

.to-checkout-1-step i {
    color: #45b645;
}

.next-step {
    color: #45b645;
    position: relative;
    left: 900px;
    top: 50px;
}

.previous-step {
    color: #e00f37;
    position: relative;
    top: 50px;
}

.next-step:hover {
    color: rgba(69, 182, 69, 0.71);
}

.previous-step:hover {
    color: rgba(224, 15, 55, 0.72);
}

.to-checkout i:hover {
    transform: scale(1.25, 1.25);
}

.sum-table {
    width: 1000px;
    margin: 100px auto 240px auto;
}

.sum-table table {
    border: solid 1px #e3dfdf;
}

.submit-checkout {
    height: 50px;
    width: 120px;
    float: right;
    margin-bottom: 100px;
    background-color: rgba(17, 96, 74, 0.67);
    border: solid 1px rgba(32, 117, 90, 0.67);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    transition: background-color 300ms ease-out 10ms;
}

.submit-checkout:hover {
    background-color: rgba(15, 140, 107, 0.31);
    color: rgba(55, 185, 155, 0.67);
}

.payment-method {
    position: relative;
    right: 220px;
}

.payment-method img {
    width: 150px;
    height: 55px;
    padding: 10px 6px;
}

.payment-method [type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

.payment-method [type=radio] + img {
    cursor: pointer;
}

.payment-method [type=radio]:hover + img {
    outline: solid 2px rgba(108, 232, 198, 0.76);
}

.payment-method [type=radio]:checked + img {
    outline: solid 2px rgba(15, 140, 107, 0.82);
}

.payment-error {
    position: relative;
    left: 15px;
}

.countdown-payment, .order-placed {
    margin: 250px auto;
    text-align: center;
}

#countdown {
    font-weight: bold;
    color: #e32f2f;
}

.order-placed {
    padding: 80px 50px;
    border: solid 2px #90efb0;
    background-color: rgba(221, 250, 222, 0.36);
}

.order-placed h2 {
    color: #38bd38;
    font-weight: bold;
}

.order-placed h3 a {
    padding: 6px 15px;
    color: rgb(15, 140, 107);
}

.order-placed h3 a:hover {
    outline: solid 2px rgba(108, 232, 198, 0.76);
    border-radius: 3px;
}

.order-placed li {
    margin-top: 20px;
}

.order-placed i {
    color: black;
}

.continue-btn {
    font-size: 28px;
    width: 230px;
    height: 80px;
    margin: 50px auto;
    color: #171616;
    padding: 12px 30px;
    background-color: rgba(17, 96, 74, 0.67);
    border: solid 1px rgba(32, 117, 90, 0.67);
    border-radius: 3px;
    display: none;
}

.continue-btn:hover {
    color: #5e5c5c;
    background-color: rgba(53, 171, 140, 0.67);
    border: solid 1px rgba(70, 145, 127, 0.67);
}

.continue-btn span {
    position: relative;
    top: 5px;
}

.placed-order {
    margin: 20px auto;
    width: 1000px;
    padding: 20px 40px;
    background-color: #fbfbfb;
    border: solid 1px #eeeeee;
    border-radius: 3px;
}

.placed-order table, .placed-order th, .placed-order td {
    border-spacing: 100px;
    padding: 7px 30px;
}

.placed-order table tbody tr td h5 {
    font-size: 18px;
}

.placed-order table tbody tr td h6 {
    font-size: 15px;
}

.placed-order-link {
    color: black;
}

.detail-history {
    outline: solid 1px rgba(53, 171, 140, 0.67);
    margin-bottom: 20px;
    border-radius: 3px;
}

.placed-order {
    outline: solid 1px rgba(53, 171, 140, 0.67);
}

.detail-history:hover, .placed-order:hover {
    outline: solid 3px rgba(24, 126, 100, 0.67);
    color: black;
}

.detail-history img {
    width: 85px;
    height: 100px;
}

.detail-history-inner {
    padding: 6px;
}

.item-a {
    color: black;
}

.item-a:hover {
    color: #9a9999;
}

.order-address {
    margin-top: 8px;
    font-size: 18px;
}

.three-products-main-page {
    position: relative;
    bottom: 160px;
}

.main-page-products {
    height: 400px;
}

.new-posts {
    margin: 100px auto 130px auto;
}

.new-post {
    width: 100%;
    height: 120px;
    outline: solid 1px #3e54e0;
    border-radius: 3px;
    margin: 10px auto;
    transition: background-color 300ms ease-out 10ms;
}

.new-post:hover {
    background-color: rgba(233, 233, 245, 0.56);
}

.new-post:hover .post-tag {
    background-color: white;
}

.new-post:hover .post-date {
    font-weight: 500;
}

.post-title {
    position: relative;
    top: 40px;
    left: 20px;
}

.post-title span {
    font-size: 15px;
}

.post-title li {
    display: inline;
}

.post-tag {
    border: solid 1px rgba(223, 227, 255);
    border-radius: 2px;
    background-color: rgba(223, 227, 246, 0.79);
    display: inline-block;
    padding: 0 5px;
}

.mew-post li {
    display: inline;
}

.post-details, .post-details-np {
    float: right;
    position: relative;
    right: 90px;
    bottom: 130px;
}

.post-details-np {
    right: 140px;
}

.post-author {
    height: 90px;
}

.post-author-np {
    position: relative;
    left: 50px;
}

.post-author img {
    height: 65px;
    width: 65px;
}

.post-details:hover .post-author {
    color: #3838ee;
}

.post-author img:hover {
    transform: scale(1.1, 1.1);
}


.post-date, .post-date-np {
    position: relative;
    bottom: 40px;
}

.post-date {
    left: 50px;
}

.post-date-np {
    left: 40px;
}


.post-categories {
    border: solid 1px #080862;
    border-radius: 3px;
    background-color: rgba(234, 234, 238, 0.41);
    padding: 15px;
}

.post-categories a {
    color: #0a0a57;
}

.post-categories a:hover {
    color: #5b5bc2;
}

.last-posts {
    width: 100%;
    height: 120px;
    border-radius: 3px;
    margin: 10px auto;
}

.last-posts:hover .post-tag {
    background-color: white;
}

.last-posts-blue {
    background-color: rgba(235, 235, 248, 0.52);
}

.last-posts-white {
    background-color: white;
}

.last-posts-white, .last-posts-blue {
    outline: solid 1px #3e54e0;
    border-radius: 3px;
}

.category-link {
    position: relative;
    left: 50px;
    top: 12px;
    color: #0d0648;
}

.category-link:hover {
    text-decoration: underline !important;
    color: #331e6e;
}

.author-points, .author-points-np {
    color: #413e3e;
    font-size: 28px;
    float: right;
    position: relative;
    left: 60px;
    bottom: 160px;
}

.points-thumbs {
    display: grid;
}

.author-points span, .author-points-np span {
    position: relative;
    right: 30px;
    top: 70px;
}

.t-up {
    color: #24bb24;
}

.t-down {
    color: #ab2b2b;
}

.t-down:hover {
    transform: scale(1.4, 1.4);
}

.t-up:hover {
    transform: scale(1.4, 1.4);
}

.pagination {
    width: 350px;
}